<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing Record</title>
</head>
<body>
	<p><label><b><i>Please enter the new record for the blog:</i></b></label></p>
    <form action="/new_record" method="post" class="form_new_post">
	<label><i>Title:</i></label>
	<br>
	<input type="text" name="new_record_title" value="" required=""</p>
	<br><br>
	<label><i>Your Record Description:</i></label>
	<br>
	<textarea name="new_record_description" cols=40 rows=7 required=""></textarea>
	<input type="submit" value="SUBMIT">
</body>
</html>